<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ma deuxième page</title>
  </head>
  <body>
    <header>
      <h1 class="grand titre"> Mes Instruments </h1>
      <nav class=menu>
          <h2 class=piano></h2>
            <article>
              <p> je dis n'importe quoi parce que j'ai rien a dire jckjv ffzjkeujdj le telosnf je juhhtkd kjuttu </p>
            </article>
      </nav>
    </header>
  </body>
</html>
